* {
    margin-bottom: 10px;
    font-family: Arial, serif;
    font-size: 16px;
}

tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}


td {
    padding: 5px;
}

body {
    margin: 5px;
}

.main {
    width: 100%;
}

.result {
    width: 35vw;
}


table, tr, td {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

table {
    counter-reset: rowNumber;
}

.table::before {
    padding: 5px;
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
}

h1 {
    font-size: 30px;
}